{% for playing in playings %}
    <div class="playing row">
        <div class="col-12 d-flex align-items-center justify-content-center mb-4 mt-2">
            {{ playing.datePlaying | date("l j F Y") | format_date('full',locale='fr') }}
            {% if playing.amical %} - (<b>MATCH AMICAL</b>) {% endif %}
            {% if playing.numJourney %}
                <a class="result-journey ms-4" v-on:click="showResultatJournee" href="#" data-numj="{{ playing.numJourney }}" data-href="{{ path("ajax_app_resultat_journee", {"idCompetition":idCompetition,"numJ":playing.numJourney}) }}"><i class="fa-solid fa-calendar-week"></i></a>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col playing-club playing-club-dom d-flex align-items-center">
                    <span class="me-2">
                        {% if 'https' in playing.logoClubDom %}
                            <img src="{{ playing.logoClubDom }}">
                        {% else %}
                            <img src="{{ asset('images/'~playing.logoClubDom) }}">
                        {% endif %}
                    </span>
                    <span class="playing-club-title">{{ playing.clubDom }}</span>
                </div>
                <div class="col playing-score d-flex align-items-center justify-content-center cursor-pointer" data-bs-toggle="collapse" href="#collapse-playing-{{ playing.id }}">
                    {%  if playing.isReport %}
                        <span class="text-uppercase">reporté</span>
                    {% else %}
                        <span>{{ playing.scoreDom }}</span>
                        <span class="me-2 ms-2">-</span>
                        <span>{{ playing.scoreExt }}</span>
                    {% endif %}
                </div>
                <div class="col playing-club playing-club-ext d-flex align-items-center justify-content-end">
                    <span class="playing-club-title">{{ playing.clubExt }}</span>
                    <span class="ms-2">
                        {% if 'https' in playing.logoClubExt %}
                            <img src="{{ playing.logoClubExt }}">
                        {% else %}
                            <img src="{{ asset('images/'~playing.logoClubExt) }}">
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 collapse mt-2" id="collapse-playing-{{ playing.id }}">

            {% set listB = [] %}
            {% set listCJ = [] %}
            {% set listCR = [] %}
            {% for puser in playing.playingUser %}
                {% if puser.nbButs > 0 %}
                    {% for i in 1..puser.nbButs %}
                        {% set listB = listB|merge([puser.user.getFullName()]   ) %}
                    {% endfor %}
                {% endif%}
                {% if puser.nbCartonJ > 0 %}
                    {% set listCJ = listCJ|merge([puser.user.getFullName()]   ) %}
                {% endif%}
                {% if puser.nbCartonR > 0 %}
                    {% set listCR = listCR|merge([puser.user.getFullName()]   ) %}
                {% endif%}
            {% endfor %}

            <div class="row playing-details">
                {% if playing.clubDom | upper == "USON MONDEVILLE" %}
                    <div class="col d-flex flex-column align-items-end justify-content-end">
                        {% if playing.nbButCsc %}
                            {% for i in 1..playing.nbButCsc %}
                                <div class="d-flex align-items-center playing-buteur-item">
                                    <span>csc</span>
                                    <img src="{{ asset('images/ico_but.svg') }}" class="ms-2">
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% for lb in listB %}
                            <div class="d-flex align-items-center playing-buteur-item">
                                <span>{{ lb }}</span>
                                <img src="{{ asset('images/ico_but.svg') }}" class="ms-2">
                            </div>
                        {% endfor %}
                        {% for cj in listCJ %}
                            <div class="d-flex align-items-center">
                                <span>{{ cj }}</span>
                                <img src="{{ asset('images/ico_carton_jaune.svg') }}" class="ms-2">
                            </div>
                        {% endfor %}
                        {% for cr in listCR %}
                            <div class="d-flex align-items-center">
                                <span>{{ cr }}</span>
                                <img src="{{ asset('images/ico_carton_jaune.svg') }}" class="ms-2">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col"></div>
                {% else %}
                    <div class="col"></div>
                    <div class="col">
                        {% if playing.nbButCsc %}
                            {% for i in 1..playing.nbButCsc %}
                                <div class="d-flex align-items-center playing-buteur-item">
                                    <img src="{{ asset('images/ico_but.svg') }}" class="me-2">
                                    <span>csc</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% for buteur in listB %}
                            <div class="d-flex align-items-center playing-buteur-item">
                                <img src="{{ asset('images/ico_but.svg') }}" class="me-2">
                                <span>{{ buteur }}</span>
                            </div>
                        {% endfor %}
                        {% for cj in listCJ %}
                            <div class="d-flex align-items-center">
                                <img src="{{ asset('images/ico_carton_jaune.svg') }}" class="me-2">
                                <span>{{ cj }}</span>
                            </div>
                        {% endfor %}
                        {% for cr in listCR %}
                            <div class="d-flex align-items-center">
                                <img src="{{ asset('images/ico_carton_rouge.svg') }}" class="me-2">
                                <span>{{ cr }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row mt-3 playing-compo">
                    <div>
                        <b>Compositions :</b>
                        {% for puser in playing.playingUser %}
                            {{ puser.user.firstName | capitalize }} {{ puser.user.lastName | slice(0,1) | upper }}.,
                        {% endfor %}
                        {% if playing.externalPlayer %}
                            {{ playing.externalPlayer }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}