{% extends 'base.html.twig' %}

{% block content_id %}content-home{% endblock content_id %}

{% block content %}
    <div class="col-12 content-col-first">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center mb-3">
                <div>
                    <select class="form-select" id="seasonChoice" v-on:change="changeSeason" data-href="{{ path('ajax_app_season') }}">
                        {% for season in listSeasons %}
                            <option value="{{ season["season"] }}" {% if app.request.get('season') == season["season"] %} selected {% endif %}>{{ season["season"] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mx-3">
                    <select class="form-select" id="categoryChoice" v-on:change="changeCategory" data-href="{{ path('ajax_app_category') }}">
                        {% for category in listCategories %}
                            <option value="{{ category.name }}" {% if app.request.get('category') == category.name %} selected {% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <select class="form-select" id="competitionChoice" v-on:change="changeCompetition" data-href="{{ path('app_home') }}">
                        {% for competition in listCompetition %}
                            <option value="{{ competition.name }}" {% if app.request.get('competition') == competition.name %} selected {% endif %}>{{ competition.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="content-block mb-3 accordion accordion-flush" id="accordionPlayings">
                    <div class="accordion-item">
                    <div class="content-block-header accordion-header p-0">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Calendrier
                        </button>
                    </div>
                    <div id="flush-collapseOne" data-bs-parent="#accordionPlayings"class="content-block-body content-block-playings accordion-collapse collapse">

                        {% if not playingsPersonnal %}

                        {% if otherPlayings %}
                            {% for otherPlaying in otherPlayings %}
                                <div class="playing row">
                                    <div class="col-12 d-flex align-items-center justify-content-center mb-2 mt-2">
                                        {{ otherPlaying.datePlaying | date("l j F Y") | format_date('full',locale='fr') }}
                                        {% if otherPlaying.amical %} - (<b>MATCH AMICAL</b>) {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col playing-club playing-club-dom d-flex align-items-center">
                                                    <span class="me-2">
                                                        {% if 'https' in otherPlaying.logoClubDom %}
                                                            <img src="{{ otherPlaying.logoClubDom }}">
                                                        {% else %}
                                                            <img src="{{ asset('images/'~otherPlaying.logoClubDom) }}">
                                                        {% endif %}
                                                    </span>
                                                <span class="playing-club-title">{{ otherPlaying.clubDom }}</span>
                                            </div>
                                            <div class="col playing-score d-flex align-items-center justify-content-center">
                                                {%  if otherPlaying.isReport %}
                                                    <span class="text-uppercase">reporté</span>
                                                {% else %}
                                                    <span>{{ otherPlaying.scoreDom }}</span>
                                                    <span class="me-2 ms-2">-</span>
                                                    <span>{{ otherPlaying.scoreExt }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col playing-club playing-club-ext d-flex align-items-center justify-content-end">
                                                <span class="playing-club-title">{{ otherPlaying.clubExt }}</span>
                                                <span class="ms-2">
                                                        {% if 'https' in otherPlaying.logoClubExt %}
                                                            <img src="{{ otherPlaying.logoClubExt }}">
                                                        {% else %}
                                                            <img src="{{ asset('images/'~otherPlaying.logoClubExt) }}">
                                                        {% endif %}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% for cal in playings %}
                        <div class="playing row">
                            <div class="col-12 d-flex align-items-center justify-content-center mb-2 mt-2">
                                {{ cal["date"] | format_datetime('full', 'none', locale='fr') }}
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col playing-club playing-club-dom d-flex align-items-center">
                                    {% if cal["home"] is null %}
                                        <div class="calendrier-equipe-name">
                                            EXEMPT
                                        </div>
                                    {% else %}
                                        <span class="me-2">
                                            <img src="{{ cal["home"]["club"]["logo"] }}" />
                                        </span>
                                        <span class="playing-club-title">
                                            {{ cal["home"]["short_name"] }}
                                        </span>
                                    {% endif %}
                                    </div>
                                    <div class="col playing-score d-flex align-items-center justify-content-center">
                                            <span>{{ cal["home_score"] }}</span>
                                            <span class="me-2 ms-2">-</span>
                                            <span>{{ cal["away_score"] }}</span>
                                    </div>

                                    <div class="col playing-club playing-club-ext d-flex align-items-center justify-content-end">
                                    {% if cal["away"] is null %}
                                        <div class="calendrier-equipe-name">
                                            EXEMPT
                                        </div>
                                    {% else %}
                                        <div class="playing-club-title">
                                            {{ cal["away"]["short_name"] }}
                                        </div>
                                        <div class="calendrier-logo ps-1">
                                            <img src="{{ cal["away"]["club"]["logo"] }}" />
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% else %}

                        {% for playing in playings %}
                            <div class="playing row">
                                <div class="col-12 d-flex align-items-center justify-content-center mb-2 mt-2">
                                    {{ playing.datePlaying | date("l j F Y") | format_date('full',locale='fr') }}
                                    {% if playing.amical %} - (<b>MATCH AMICAL</b>) {% endif %}
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col playing-club playing-club-dom d-flex align-items-center">
                                            <span class="me-2">
                                                {% if 'https' in playing.logoClubDom %}
                                                    <img src="{{ playing.logoClubDom }}">
                                                {% else %}
                                                    <img src="{{ asset('images/'~playing.logoClubDom) }}">
                                                {% endif %}
                                            </span>
                                            <span class="playing-club-title">{{ playing.clubDom }}</span>
                                        </div>
                                        <div class="col playing-score d-flex align-items-center justify-content-center cursor-pointer" data-bs-toggle="collapse" href="#collapse-playing-{{ playing.id }}">
                                            {%  if playing.isReport %}
                                                <span class="text-uppercase">reporté</span>
                                            {% else %}
                                            <span>{{ playing.scoreDom }}</span>
                                            <span class="me-2 ms-2">-</span>
                                            <span>{{ playing.scoreExt }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col playing-club playing-club-ext d-flex align-items-center justify-content-end">
                                            <span class="playing-club-title">{{ playing.clubExt }}</span>
                                            <span class="ms-2">
                                                {% if 'https' in playing.logoClubExt %}
                                                    <img src="{{ playing.logoClubExt }}">
                                                {% else %}
                                                    <img src="{{ asset('images/'~playing.logoClubExt) }}">
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 collapse mt-2" id="collapse-playing-{{ playing.id }}">

                                    {% set listB = [] %}
                                    {% set listCJ = [] %}
                                    {% set listCR = [] %}
                                    {% for puser in playing.playingUser %}
                                        {% if puser.nbButs > 0 %}
                                            {% for i in 1..puser.nbButs %}
                                                {% set listB = listB|merge([puser.user.getFullName()]   ) %}
                                            {% endfor %}
                                        {% endif%}
                                        {% if puser.nbCartonJ > 0 %}
                                            {% set listCJ = listCJ|merge([puser.user.getFullName()]   ) %}
                                        {% endif%}
                                        {% if puser.nbCartonR > 0 %}
                                            {% set listCR = listCR|merge([puser.user.getFullName()]   ) %}
                                        {% endif%}
                                    {% endfor %}

                                    <div class="row playing-details">
                                    {% if playing.clubDom == "USON MONDEVILLE" %}
                                        <div class="col d-flex flex-column align-items-end justify-content-end">
                                            {% if playing.nbButCsc %}
                                            {% for i in 1..playing.nbButCsc %}
                                                <div class="d-flex align-items-center playing-buteur-item">
                                                    <span>csc</span>
                                                    <img src="{{ asset('images/ico_but.svg') }}" class="ms-2">
                                                </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% for lb in listB %}
                                                <div class="d-flex align-items-center playing-buteur-item">
                                                    <span>{{ lb }}</span>
                                                    <img src="{{ asset('images/ico_but.svg') }}" class="ms-2">
                                                </div>
                                            {% endfor %}
                                            {% for cj in listCJ %}
                                                <div class="d-flex align-items-center">
                                                    <span>{{ cj }}</span>
                                                    <img src="{{ asset('images/ico_carton_jaune.svg') }}" class="ms-2">
                                                </div>
                                            {% endfor %}
                                            {% for cr in listCR %}
                                                <div class="d-flex align-items-center">
                                                    <span>{{ cr }}</span>
                                                    <img src="{{ asset('images/ico_carton_jaune.svg') }}" class="ms-2">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col"></div>
                                    {% else %}
                                        <div class="col"></div>
                                        <div class="col">
                                            {% if playing.nbButCsc %}
                                            {% for i in 1..playing.nbButCsc %}
                                                <div class="d-flex align-items-center playing-buteur-item">
                                                    <img src="{{ asset('images/ico_but.svg') }}" class="me-2">
                                                    <span>csc</span>
                                                </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% for buteur in listB %}
                                                <div class="d-flex align-items-center playing-buteur-item">
                                                    <img src="{{ asset('images/ico_but.svg') }}" class="me-2">
                                                    <span>{{ buteur }}</span>
                                                </div>
                                            {% endfor %}
                                            {% for cj in listCJ %}
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ asset('images/ico_carton_jaune.svg') }}" class="me-2">
                                                    <span>{{ cj }}</span>
                                                </div>
                                            {% endfor %}
                                            {% for cr in listCR %}
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ asset('images/ico_carton_rouge.svg') }}" class="me-2">
                                                    <span>{{ cr }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                        <div class="row mt-3 playing-compo">
                                            <div>
                                            <b>Compositions :</b>
                                            {% for puser in playing.playingUser %}
                                                {{ puser.user.firstName | capitalize }} {{ puser.user.lastName | slice(0,1) | upper }}.,
                                            {% endfor %}
                                            {% if playing.externalPlayer %}
                                                {{ playing.externalPlayer }}
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-7">
                <div class="content-block mb-3">
                    <div class="content-block-header">
                        <span v-if="seeUserDetails==false">Effectifs {{ effectifCategorie }} {% if nbTotalJoueur is defined %}({{ nbTotalJoueur }}) {% endif %}</span>
                        <span v-if="seeUserDetails==true">Fiche joueur</span>
                    </div>
                    <div class="content-block-body" v-if="seeUserDetails==false">
                        <table class="table table-responsive">
                            <thead>
                                <th>Joueur</th>
                                <th>Né le</th>
                                <th>Poste</th>
                            </thead>
                            <tbody>
                                {% for g in listJoueurGar %}
                                    <tr {% if loop.last %} style="border-bottom: 2px solid #C5C5C5;" {% endif %}>
                                        <td><a href="#" @click="showUserDetails" data-href="{{ path('ajax_app_details_user',{'id':g.id }) }}?season=__season__">{{ g.fullName }}</a></td>
                                        <td>{{ g.birthDate | date('d/m/Y') }}</td>
                                        <td>{{ g.poste }}</td>
                                    </tr>
                                {% endfor %}
                                {% for d in listJoueurDef %}
                                    <tr {% if loop.last %} style="border-bottom: 2px solid #C5C5C5;" {% endif %}>
                                        <td><a href="#" @click="showUserDetails" data-href="{{ path('ajax_app_details_user',{'id':d.id}) }}?season=__season__">{{ d.fullName }}</a></td>
                                        <td>{{ d.birthDate | date('d/m/Y') }}</td>
                                        <td>{{ d.poste }}</td>
                                    </tr>
                                {% endfor %}
                                {% for m in listJoueurMil %}
                                    <tr {% if loop.last %} style="border-bottom: 2px solid #C5C5C5;" {% endif %}>
                                        <td><a href="#" @click="showUserDetails" data-href="{{ path('ajax_app_details_user',{'id':m.id}) }}?season=__season__">{{ m.fullName }}</a></td>
                                        <td>{{ m.birthDate | date('d/m/Y') }}</td>
                                        <td>{{ m.poste }}</td>
                                    </tr>
                                {% endfor %}
                                {% for a in listJoueurAtt %}
                                    <tr {% if loop.last %} style="border-bottom: 2px solid #C5C5C5;" {% endif %}>
                                        <td><a href="#" @click="showUserDetails" data-href="{{ path('ajax_app_details_user',{'id':a.id}) }}?season=__season__">{{ a.fullName }}</a></td>
                                        <td>{{ a.birthDate | date('d/m/Y') }}</td>
                                        <td>{{ a.poste }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="content-block-body" v-if="seeUserDetails==true">
                        <div class="mb-3">
                            <a href="#" @click="returnToList">Retour</a>
                        </div>
                        <div id="detail-content-block-body" class="row"></div>
                    </div>
                </div>
                <div class="content-block mb-3">
                    <div class="content-block-header d-flex align-items-center justify-content-between">
                        <span>Classement</span>
                        {% if numPhase == 2 %}
                        <div>
                            <ul class="nav nav-pills nav-phase" id="nav-phase">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" v-on:click="changePhase" data-href="{{ path("ajax_app_classement", {"idCompetition":idCompetition, "numPhase": 1}) }}">Phase 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" v-on:click="changePhase" data-href="{{ path("ajax_app_classement", {"idCompetition":idCompetition, "numPhase": 2}) }}">Phase 2</a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="content-block-body">
                        <table class="table table-responsive">
                            <thead>
                                <th>Pl</th>
                                <th>Equipe</th>
                                <th>Pts</th>
                                <th>Jo</th>
                                <th>G</th>
                                <th>N</th>
                                <th>P</th>
                                <th class="d-none d-sm-table-cell">F</th>
                                <th>BP</th>
                                <th>BC</th>
                                <th class="d-none d-sm-table-cell">Pé</th>
                                <th class="d-none d-sm-table-cell">Dif</th>
                            </thead>
                            <tbody id="classement-content">
                                {% for equipe in classement %}
                                    <tr>
                                        <td>{{ equipe["rank"] }}</td>
                                        <td>{{ equipe["equipe"]["short_name"] | upper }}</td>
                                        <td>{{ equipe["point_count"] }}</td>
                                        <td>{{ equipe["total_games_count"] }}</td>
                                        <td>{{ equipe["won_games_count"] }}</td>
                                        <td>{{ equipe["draw_games_count"] }}</td>
                                        <td>{{ equipe["lost_games_count"] }}</td>
                                        <td class="d-none d-sm-table-cell">{{ equipe["forfeits_games_count"] }}</td>
                                        <td>{{ equipe["goals_for_count"] }}</td>
                                        <td>{{ equipe["goals_against_count"] }}</td>
                                        <td class="d-none d-sm-table-cell">{{ equipe["penalty_point_count"] }}</td>
                                        <td class="d-none d-sm-table-cell">{% if equipe["goals_for_count"] < equipe["goals_against_count"] %}-{% endif %}{{ equipe["goals_diff"] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="content-block mb-3">
                    <div class="content-block-header">
                        Buteurs
                    </div>
                    <div class="content-block-body content-block-body-fixHeight">
                        <table class="table">
                            <thead>
                                <th>Joueur</th>
                                <th>buts</th>
                                <th>mat.</th>
                                <th>rat.</th>
                            </thead>
                            <tbody>
                                {% for buteur in listButeurs %}
                                    {% set ratio = buteur["nbButs"]/buteur["nbPlaying"] %}
                                    <tr>
                                        <td>{{ buteur["fullName"] }}</td>
                                        <td>{{ buteur["nbButs"] }}</td>
                                        <td>{{ buteur["nbPlaying"] }}</td>
                                        <td>{{ ratio|round(1) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="content-block mb-3">
                    <div class="content-block-header">
                        Passeurs
                    </div>
                    <div class="content-block-body content-block-body-fixHeight">
                        <table class="table">
                            <thead>
                            <th>Joueur</th>
                            <th>passes</th>
                            <th>mat.</th>
                            <th>rat.</th>
                            </thead>
                            <tbody>
                            {% for passeur in listPasseurs %}
                                {% set ratio = passeur["nbPassD"]/passeur["nbPlaying"] %}
                                <tr>
                                    <td>{{ passeur["fullName"] }}</td>
                                    <td>{{ passeur["nbPassD"] }}</td>
                                    <td>{{ passeur["nbPlaying"] }}</td>
                                    <td>{{ ratio|round(1) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if photos | length > 0 %}
            <div class="col-12">
                <div class="content-block mb-3">
                    <div class="content-block-header">
                        Gallerie
                    </div>
                    <div class="content-block-body">
                        <div class="row" id="googlePhoto-list">
                        {% for photo in photos %}
                            <div class="col-6 col-lg-4">
                                {% if photo.mime_type == "image/jpeg" or photo.mime_type == "image/png" or photo.mime_type == "image/gif" %}
                                    <a class="linkGooglePhoto" href="{{ photo.base_url }}" data-fslightbox="gallery" data-type="image">
                                        <img src="{{ photo.base_url }}" class="w-100 mb-2 img-google" />
                                    </a>
                                {% else %}
                                    <a class="linkGooglePhoto" href="{{ photo.base_url }}=dv" data-fslightbox="gallery" data-type="video">
                                        <video controls class="w-100 mb-2"><source src="{{ photo.base_url }}=dv" type="{{ photo.mime_type }}"></video>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}