<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo-usonm.jpg') }}">
        <link rel="manifest" href="{{ asset("pwa/manifest.json") }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="row header d-flex align-items-center justify-content-center">
                    <a href="{{ path('app_home') }}" class="d-flex align-items-center justify-content-center">
                        <img src="{{ asset('images/logo-usonm-top.png') }}" class="img-fluid" alt="usonm">
                    </a>
                </div>

                <div id="{% block content_id %}{% endblock content_id %}" class="row content {% block content_class %}{% endblock content_class %}">
                    {% block content %}

                    {% endblock content %}
                </div>

            </div>
            {% block footer %}
            <footer class="container-fluid">
                <div class="row g-0 w-100">
                    <div class="col d-flex flex-column">
                        <span>{{ club.name }}</span>
                        <span>{{ club.adrStreet }}</span>
                        <div class="d-flex">
                            <span class="me-2">{{ club.adrZip }}</span>
                            <span>{{ club.adrCity }}</span>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center social-media">
                        <a href="{{ club.facebookUrl }}" target="_blank"><img src="{{ asset('images/icons8-facebook-48.png') }}" /></a>
                        <a href="{{ club.websiteUrl }}" target="_blank" class="ms-3"><img src="{{ asset('images/icons8-wordpress-48.png') }}" /></a>
                    </div>
                    <div class="col d-none d-sm-flex flex-column align-items-end">
                        <span>Tél : {{ club.phoneContact }}</span>
                        <span>Email : {{ club.emailContact }}</span>
                        <span>Site web : <a class="text-decoration-none text-white" href="{{ club.websiteUrl }}" target="_blank">{{ club.websiteUrl }}</a></span>
                    </div>
                </div>
            </footer>
            <div class="container-fluid subfooter">
                Tous droits réservés / © Copyright USONM Football
            </div>
            {% endblock footer %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
